

.destinations{


  margin: 3% 10%;
}

.card-images{

  height: 300px;

}


.tours{


  margin: 3% 5%;


}

.contact-us{


  margin: 0% 5%;

}

.destination-section{


  margin: 5%;

}

.footer-section{

  margin-top: 5%;

}